--
-- PostgreSQL database cluster dump
--

\restrict BAafJBmZpBnparBGKLyCDV3AipMrmin14X3Tr9DraJJa5DVMVktu50LmXxn3F6g

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE hq_portal;
ALTER ROLE hq_portal WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:aPEWW3B722pDppf+J+mDEA==$NhdpLZ0UzUpWFbIiL7GBKzXmnC6PgqkM6TQwukDyf3w=:wm9PNCoygpFjgRlElEDT1ZMEaY9Uer3xB81k9kx4rxA=';

--
-- User Configurations
--








\unrestrict BAafJBmZpBnparBGKLyCDV3AipMrmin14X3Tr9DraJJa5DVMVktu50LmXxn3F6g

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict VPfXDDCk2YfHFvnGsYJuZOBFR890eFmoxqVGAV3u748X6UYetSii95dRzEHcWrg

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict VPfXDDCk2YfHFvnGsYJuZOBFR890eFmoxqVGAV3u748X6UYetSii95dRzEHcWrg

--
-- Database "auth_db" dump
--

--
-- PostgreSQL database dump
--

\restrict aZvp4EAyjbmmQTOYNfnO31bJQdqIkDUxatzouSQhmywTOo7lhF0WcqvfrDk1CCo

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: auth_db; Type: DATABASE; Schema: -; Owner: hq_portal
--

CREATE DATABASE auth_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE auth_db OWNER TO hq_portal;

\unrestrict aZvp4EAyjbmmQTOYNfnO31bJQdqIkDUxatzouSQhmywTOo7lhF0WcqvfrDk1CCo
\connect auth_db
\restrict aZvp4EAyjbmmQTOYNfnO31bJQdqIkDUxatzouSQhmywTOo7lhF0WcqvfrDk1CCo

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: hq_portal
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO hq_portal;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: hq_portal
--

CREATE TABLE public.audit_logs (
    id uuid NOT NULL,
    user_id uuid,
    module_code character varying(20),
    action character varying(255) NOT NULL,
    resource_type character varying(255),
    resource_id character varying(255),
    ip_address character varying(64),
    user_agent character varying(512),
    old_data json,
    new_data json,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO hq_portal;

--
-- Name: module_memberships; Type: TABLE; Schema: public; Owner: hq_portal
--

CREATE TABLE public.module_memberships (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    module_id uuid NOT NULL,
    role character varying(20) NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.module_memberships OWNER TO hq_portal;

--
-- Name: modules; Type: TABLE; Schema: public; Owner: hq_portal
--

CREATE TABLE public.modules (
    id uuid NOT NULL,
    code character varying(20) NOT NULL,
    name character varying(255) NOT NULL,
    description character varying(1000),
    frontend_path character varying(255) NOT NULL,
    api_prefix character varying(255) NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.modules OWNER TO hq_portal;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: hq_portal
--

CREATE TABLE public.permissions (
    id uuid NOT NULL,
    module_id uuid NOT NULL,
    code character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.permissions OWNER TO hq_portal;

--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: hq_portal
--

CREATE TABLE public.refresh_tokens (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    token_hash character varying(128) NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    revoked_at timestamp with time zone,
    replaced_by_token_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    ip_address character varying(64),
    user_agent character varying(512)
);


ALTER TABLE public.refresh_tokens OWNER TO hq_portal;

--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: hq_portal
--

CREATE TABLE public.role_permissions (
    id uuid NOT NULL,
    module_id uuid NOT NULL,
    role character varying(20) NOT NULL,
    permission_id uuid NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO hq_portal;

--
-- Name: users; Type: TABLE; Schema: public; Owner: hq_portal
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    avatar_url character varying(512),
    is_superadmin boolean DEFAULT false NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    last_login_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO hq_portal;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: hq_portal
--

COPY public.alembic_version (version_num) FROM stdin;
0001_initial
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: hq_portal
--



--
-- Data for Name: module_memberships; Type: TABLE DATA; Schema: public; Owner: hq_portal
--



--
-- Data for Name: modules; Type: TABLE DATA; Schema: public; Owner: hq_portal
--

COPY public.modules (id, code, name, description, frontend_path, api_prefix, status, sort_order, created_at, updated_at) FROM stdin;
b94acd5e-0414-49f5-b7c3-b776bcde3986	HQA	HQ Audio Marketplace	Marketplace operations for HQA	/hqa	/api/hqa	active	1	2026-07-23 06:48:56.226108+00	2026-07-23 06:48:56.226108+00
e1136964-d730-4247-968f-dc3ee47a383a	HQS	HQ Services	Services operations for HQS	/hqs	/api/hqs	active	2	2026-07-23 06:48:56.226108+00	2026-07-23 06:48:56.226108+00
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: hq_portal
--



--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: hq_portal
--



--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: hq_portal
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: hq_portal
--



--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: audit_logs pk_audit_logs; Type: CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT pk_audit_logs PRIMARY KEY (id);


--
-- Name: module_memberships pk_module_memberships; Type: CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.module_memberships
    ADD CONSTRAINT pk_module_memberships PRIMARY KEY (id);


--
-- Name: modules pk_modules; Type: CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT pk_modules PRIMARY KEY (id);


--
-- Name: permissions pk_permissions; Type: CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT pk_permissions PRIMARY KEY (id);


--
-- Name: refresh_tokens pk_refresh_tokens; Type: CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT pk_refresh_tokens PRIMARY KEY (id);


--
-- Name: role_permissions pk_role_permissions; Type: CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT pk_role_permissions PRIMARY KEY (id);


--
-- Name: users pk_users; Type: CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT pk_users PRIMARY KEY (id);


--
-- Name: module_memberships uq_module_memberships_user_module; Type: CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.module_memberships
    ADD CONSTRAINT uq_module_memberships_user_module UNIQUE (user_id, module_id);


--
-- Name: modules uq_modules_code; Type: CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT uq_modules_code UNIQUE (code);


--
-- Name: permissions uq_permissions_module_code; Type: CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT uq_permissions_module_code UNIQUE (module_id, code);


--
-- Name: refresh_tokens uq_refresh_tokens_token_hash; Type: CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT uq_refresh_tokens_token_hash UNIQUE (token_hash);


--
-- Name: role_permissions uq_role_permissions_module_role_permission; Type: CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT uq_role_permissions_module_role_permission UNIQUE (module_id, role, permission_id);


--
-- Name: users uq_users_email; Type: CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uq_users_email UNIQUE (email);


--
-- Name: ix_audit_logs_action; Type: INDEX; Schema: public; Owner: hq_portal
--

CREATE INDEX ix_audit_logs_action ON public.audit_logs USING btree (action);


--
-- Name: ix_audit_logs_module_code; Type: INDEX; Schema: public; Owner: hq_portal
--

CREATE INDEX ix_audit_logs_module_code ON public.audit_logs USING btree (module_code);


--
-- Name: ix_audit_logs_user_id; Type: INDEX; Schema: public; Owner: hq_portal
--

CREATE INDEX ix_audit_logs_user_id ON public.audit_logs USING btree (user_id);


--
-- Name: ix_module_memberships_module_id; Type: INDEX; Schema: public; Owner: hq_portal
--

CREATE INDEX ix_module_memberships_module_id ON public.module_memberships USING btree (module_id);


--
-- Name: ix_module_memberships_user_id; Type: INDEX; Schema: public; Owner: hq_portal
--

CREATE INDEX ix_module_memberships_user_id ON public.module_memberships USING btree (user_id);


--
-- Name: ix_modules_code; Type: INDEX; Schema: public; Owner: hq_portal
--

CREATE INDEX ix_modules_code ON public.modules USING btree (code);


--
-- Name: ix_permissions_module_id; Type: INDEX; Schema: public; Owner: hq_portal
--

CREATE INDEX ix_permissions_module_id ON public.permissions USING btree (module_id);


--
-- Name: ix_refresh_tokens_token_hash; Type: INDEX; Schema: public; Owner: hq_portal
--

CREATE INDEX ix_refresh_tokens_token_hash ON public.refresh_tokens USING btree (token_hash);


--
-- Name: ix_refresh_tokens_user_id; Type: INDEX; Schema: public; Owner: hq_portal
--

CREATE INDEX ix_refresh_tokens_user_id ON public.refresh_tokens USING btree (user_id);


--
-- Name: ix_role_permissions_module_id; Type: INDEX; Schema: public; Owner: hq_portal
--

CREATE INDEX ix_role_permissions_module_id ON public.role_permissions USING btree (module_id);


--
-- Name: ix_role_permissions_permission_id; Type: INDEX; Schema: public; Owner: hq_portal
--

CREATE INDEX ix_role_permissions_permission_id ON public.role_permissions USING btree (permission_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: hq_portal
--

CREATE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: module_memberships module_memberships_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.module_memberships
    ADD CONSTRAINT module_memberships_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: module_memberships module_memberships_module_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.module_memberships
    ADD CONSTRAINT module_memberships_module_id_fkey FOREIGN KEY (module_id) REFERENCES public.modules(id) ON DELETE CASCADE;


--
-- Name: module_memberships module_memberships_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.module_memberships
    ADD CONSTRAINT module_memberships_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: permissions permissions_module_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_module_id_fkey FOREIGN KEY (module_id) REFERENCES public.modules(id) ON DELETE CASCADE;


--
-- Name: refresh_tokens refresh_tokens_replaced_by_token_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_replaced_by_token_id_fkey FOREIGN KEY (replaced_by_token_id) REFERENCES public.refresh_tokens(id) ON DELETE SET NULL;


--
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: role_permissions role_permissions_module_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_module_id_fkey FOREIGN KEY (module_id) REFERENCES public.modules(id) ON DELETE CASCADE;


--
-- Name: role_permissions role_permissions_permission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES public.permissions(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict aZvp4EAyjbmmQTOYNfnO31bJQdqIkDUxatzouSQhmywTOo7lhF0WcqvfrDk1CCo

--
-- Database "hqa_db" dump
--

--
-- PostgreSQL database dump
--

\restrict 676Xo0c4TNAxLxFoGPHvh4B8Wy5Nk6lfLgWjWL0DeXlcheY1vtavQlQ41aIgCen

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: hqa_db; Type: DATABASE; Schema: -; Owner: hq_portal
--

CREATE DATABASE hqa_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE hqa_db OWNER TO hq_portal;

\unrestrict 676Xo0c4TNAxLxFoGPHvh4B8Wy5Nk6lfLgWjWL0DeXlcheY1vtavQlQ41aIgCen
\connect hqa_db
\restrict 676Xo0c4TNAxLxFoGPHvh4B8Wy5Nk6lfLgWjWL0DeXlcheY1vtavQlQ41aIgCen

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ebay; Type: SCHEMA; Schema: -; Owner: hq_portal
--

CREATE SCHEMA ebay;


ALTER SCHEMA ebay OWNER TO hq_portal;

--
-- Name: etsy; Type: SCHEMA; Schema: -; Owner: hq_portal
--

CREATE SCHEMA etsy;


ALTER SCHEMA etsy OWNER TO hq_portal;

--
-- Name: hqa_system; Type: SCHEMA; Schema: -; Owner: hq_portal
--

CREATE SCHEMA hqa_system;


ALTER SCHEMA hqa_system OWNER TO hq_portal;

--
-- Name: reverb; Type: SCHEMA; Schema: -; Owner: hq_portal
--

CREATE SCHEMA reverb;


ALTER SCHEMA reverb OWNER TO hq_portal;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: listing_matches; Type: TABLE; Schema: ebay; Owner: hq_portal
--

CREATE TABLE ebay.listing_matches (
    id uuid NOT NULL,
    listing_id uuid NOT NULL,
    research_target_id uuid NOT NULL,
    keyword text NOT NULL,
    match_type text,
    exclude_flag boolean DEFAULT false NOT NULL,
    raw_confidence numeric(8,4),
    research_date date,
    collected_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE ebay.listing_matches OWNER TO hq_portal;

--
-- Name: listing_snapshots; Type: TABLE; Schema: ebay; Owner: hq_portal
--

CREATE TABLE ebay.listing_snapshots (
    id uuid NOT NULL,
    listing_id uuid NOT NULL,
    observed_at timestamp with time zone NOT NULL,
    price numeric(12,2),
    shipping_price numeric(12,2),
    total_price numeric(12,2),
    currency text,
    quantity integer,
    listing_views bigint,
    listing_status text,
    status_reason text,
    state_hash text NOT NULL,
    raw_payload jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE ebay.listing_snapshots OWNER TO hq_portal;

--
-- Name: listings; Type: TABLE; Schema: ebay; Owner: hq_portal
--

CREATE TABLE ebay.listings (
    id uuid NOT NULL,
    external_listing_id text NOT NULL,
    listing_title text NOT NULL,
    listing_url text NOT NULL,
    published_at timestamp with time zone,
    listing_location text,
    country_code text,
    category_id text,
    category_name text,
    condition_id text,
    condition_name text,
    image_url text,
    current_price numeric(12,2),
    shipping_price numeric(12,2),
    total_price numeric(12,2),
    currency text,
    listing_views bigint,
    listing_status text NOT NULL,
    first_seen_at timestamp with time zone DEFAULT now() NOT NULL,
    last_seen_at timestamp with time zone DEFAULT now() NOT NULL,
    state_hash text,
    raw_payload jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    seller_name text,
    buying_options jsonb,
    status_reason text,
    last_status_checked_at timestamp with time zone
);


ALTER TABLE ebay.listings OWNER TO hq_portal;

--
-- Name: search_runs; Type: TABLE; Schema: ebay; Owner: hq_portal
--

CREATE TABLE ebay.search_runs (
    id uuid NOT NULL,
    research_target_id uuid,
    keyword text NOT NULL,
    research_date date,
    collected_at timestamp with time zone DEFAULT now() NOT NULL,
    api_status text,
    total_results bigint,
    source_limit integer,
    source_offset integer,
    response_metadata jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE ebay.search_runs OWNER TO hq_portal;

--
-- Name: listing_matches; Type: TABLE; Schema: etsy; Owner: hq_portal
--

CREATE TABLE etsy.listing_matches (
    id uuid NOT NULL,
    listing_id uuid NOT NULL,
    research_target_id uuid NOT NULL,
    keyword text NOT NULL,
    match_type text,
    exclude_flag boolean DEFAULT false NOT NULL,
    raw_confidence numeric(8,4),
    research_date date,
    collected_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE etsy.listing_matches OWNER TO hq_portal;

--
-- Name: listing_snapshots; Type: TABLE; Schema: etsy; Owner: hq_portal
--

CREATE TABLE etsy.listing_snapshots (
    id uuid NOT NULL,
    listing_id uuid NOT NULL,
    observed_at timestamp with time zone NOT NULL,
    price numeric(12,2),
    shipping_price numeric(12,2),
    total_price numeric(12,2),
    currency text,
    quantity integer,
    listing_views bigint,
    listing_status text,
    status_reason text,
    state_hash text NOT NULL,
    raw_payload jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE etsy.listing_snapshots OWNER TO hq_portal;

--
-- Name: listings; Type: TABLE; Schema: etsy; Owner: hq_portal
--

CREATE TABLE etsy.listings (
    id uuid NOT NULL,
    external_listing_id text NOT NULL,
    listing_title text NOT NULL,
    listing_url text NOT NULL,
    published_at timestamp with time zone,
    listing_location text,
    country_code text,
    category_id text,
    category_name text,
    condition_id text,
    condition_name text,
    image_url text,
    current_price numeric(12,2),
    shipping_price numeric(12,2),
    total_price numeric(12,2),
    currency text,
    listing_views bigint,
    listing_status text NOT NULL,
    first_seen_at timestamp with time zone DEFAULT now() NOT NULL,
    last_seen_at timestamp with time zone DEFAULT now() NOT NULL,
    state_hash text,
    raw_payload jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    shop_id text,
    shop_name text,
    taxonomy_id text,
    etsy_data jsonb
);


ALTER TABLE etsy.listings OWNER TO hq_portal;

--
-- Name: search_runs; Type: TABLE; Schema: etsy; Owner: hq_portal
--

CREATE TABLE etsy.search_runs (
    id uuid NOT NULL,
    research_target_id uuid,
    keyword text NOT NULL,
    research_date date,
    collected_at timestamp with time zone DEFAULT now() NOT NULL,
    api_status text,
    total_results bigint,
    source_limit integer,
    source_offset integer,
    response_metadata jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE etsy.search_runs OWNER TO hq_portal;

--
-- Name: research_targets; Type: TABLE; Schema: hqa_system; Owner: hq_portal
--

CREATE TABLE hqa_system.research_targets (
    id uuid NOT NULL,
    product_code text NOT NULL,
    brand text,
    model text,
    target_category text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE hqa_system.research_targets OWNER TO hq_portal;

--
-- Name: sync_errors; Type: TABLE; Schema: hqa_system; Owner: hq_portal
--

CREATE TABLE hqa_system.sync_errors (
    id uuid NOT NULL,
    sync_job_id uuid NOT NULL,
    marketplace character varying(20) NOT NULL,
    source_sheet text NOT NULL,
    source_row_number integer NOT NULL,
    external_listing_id text,
    processing_stage text NOT NULL,
    error_code text,
    error_message text NOT NULL,
    raw_row jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_sync_errors_marketplace CHECK (((marketplace)::text = ANY ((ARRAY['ebay'::character varying, 'reverb'::character varying, 'etsy'::character varying])::text[])))
);


ALTER TABLE hqa_system.sync_errors OWNER TO hq_portal;

--
-- Name: sync_jobs; Type: TABLE; Schema: hqa_system; Owner: hq_portal
--

CREATE TABLE hqa_system.sync_jobs (
    id uuid NOT NULL,
    marketplace character varying(20) NOT NULL,
    trigger_type character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    scheduled_for timestamp with time zone,
    started_at timestamp with time zone,
    completed_at timestamp with time zone,
    total_source_rows integer DEFAULT 0 NOT NULL,
    inserted_rows integer DEFAULT 0 NOT NULL,
    updated_rows integer DEFAULT 0 NOT NULL,
    unchanged_rows integer DEFAULT 0 NOT NULL,
    skipped_rows integer DEFAULT 0 NOT NULL,
    error_rows integer DEFAULT 0 NOT NULL,
    requested_by_user_id uuid,
    error_summary text,
    metadata jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_sync_jobs_marketplace CHECK (((marketplace)::text = ANY ((ARRAY['ebay'::character varying, 'reverb'::character varying, 'etsy'::character varying])::text[])))
);


ALTER TABLE hqa_system.sync_jobs OWNER TO hq_portal;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: hq_portal
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO hq_portal;

--
-- Name: listing_matches; Type: TABLE; Schema: reverb; Owner: hq_portal
--

CREATE TABLE reverb.listing_matches (
    id uuid NOT NULL,
    listing_id uuid NOT NULL,
    research_target_id uuid NOT NULL,
    keyword text NOT NULL,
    match_type text,
    exclude_flag boolean DEFAULT false NOT NULL,
    raw_confidence numeric(8,4),
    research_date date,
    collected_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE reverb.listing_matches OWNER TO hq_portal;

--
-- Name: listing_snapshots; Type: TABLE; Schema: reverb; Owner: hq_portal
--

CREATE TABLE reverb.listing_snapshots (
    id uuid NOT NULL,
    listing_id uuid NOT NULL,
    observed_at timestamp with time zone NOT NULL,
    price numeric(12,2),
    shipping_price numeric(12,2),
    total_price numeric(12,2),
    currency text,
    quantity integer,
    listing_views bigint,
    listing_status text,
    status_reason text,
    state_hash text NOT NULL,
    raw_payload jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE reverb.listing_snapshots OWNER TO hq_portal;

--
-- Name: listings; Type: TABLE; Schema: reverb; Owner: hq_portal
--

CREATE TABLE reverb.listings (
    id uuid NOT NULL,
    external_listing_id text NOT NULL,
    listing_title text NOT NULL,
    listing_url text NOT NULL,
    published_at timestamp with time zone,
    listing_location text,
    country_code text,
    category_id text,
    category_name text,
    condition_id text,
    condition_name text,
    image_url text,
    current_price numeric(12,2),
    shipping_price numeric(12,2),
    total_price numeric(12,2),
    currency text,
    listing_views bigint,
    listing_status text NOT NULL,
    first_seen_at timestamp with time zone DEFAULT now() NOT NULL,
    last_seen_at timestamp with time zone DEFAULT now() NOT NULL,
    state_hash text,
    raw_payload jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    shop_name text
);


ALTER TABLE reverb.listings OWNER TO hq_portal;

--
-- Name: search_runs; Type: TABLE; Schema: reverb; Owner: hq_portal
--

CREATE TABLE reverb.search_runs (
    id uuid NOT NULL,
    research_target_id uuid,
    keyword text NOT NULL,
    research_date date,
    collected_at timestamp with time zone DEFAULT now() NOT NULL,
    api_status text,
    total_results bigint,
    source_limit integer,
    source_offset integer,
    response_metadata jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE reverb.search_runs OWNER TO hq_portal;

--
-- Data for Name: listing_matches; Type: TABLE DATA; Schema: ebay; Owner: hq_portal
--

COPY ebay.listing_matches (id, listing_id, research_target_id, keyword, match_type, exclude_flag, raw_confidence, research_date, collected_at, created_at) FROM stdin;
\.


--
-- Data for Name: listing_snapshots; Type: TABLE DATA; Schema: ebay; Owner: hq_portal
--

COPY ebay.listing_snapshots (id, listing_id, observed_at, price, shipping_price, total_price, currency, quantity, listing_views, listing_status, status_reason, state_hash, raw_payload, created_at) FROM stdin;
\.


--
-- Data for Name: listings; Type: TABLE DATA; Schema: ebay; Owner: hq_portal
--



--
-- Data for Name: search_runs; Type: TABLE DATA; Schema: ebay; Owner: hq_portal
--

COPY ebay.search_runs (id, research_target_id, keyword, research_date, collected_at, api_status, total_results, source_limit, source_offset, response_metadata, created_at) FROM stdin;
\.


--
-- Data for Name: listing_matches; Type: TABLE DATA; Schema: etsy; Owner: hq_portal
--

COPY etsy.listing_matches (id, listing_id, research_target_id, keyword, match_type, exclude_flag, raw_confidence, research_date, collected_at, created_at) FROM stdin;
\.


--
-- Data for Name: listing_snapshots; Type: TABLE DATA; Schema: etsy; Owner: hq_portal
--

COPY etsy.listing_snapshots (id, listing_id, observed_at, price, shipping_price, total_price, currency, quantity, listing_views, listing_status, status_reason, state_hash, raw_payload, created_at) FROM stdin;
\.


--
-- Data for Name: listings; Type: TABLE DATA; Schema: etsy; Owner: hq_portal
--

COPY etsy.listings (id, external_listing_id, listing_title, listing_url, published_at, listing_location, country_code, category_id, category_name, condition_id, condition_name, image_url, current_price, shipping_price, total_price, currency, listing_views, listing_status, first_seen_at, last_seen_at, state_hash, raw_payload, created_at, updated_at, shop_id, shop_name, taxonomy_id, etsy_data) FROM stdin;
\.


--
-- Data for Name: search_runs; Type: TABLE DATA; Schema: etsy; Owner: hq_portal
--

COPY etsy.search_runs (id, research_target_id, keyword, research_date, collected_at, api_status, total_results, source_limit, source_offset, response_metadata, created_at) FROM stdin;
\.


--
-- Data for Name: research_targets; Type: TABLE DATA; Schema: hqa_system; Owner: hq_portal
--

COPY hqa_system.research_targets (id, product_code, brand, model, target_category, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: sync_errors; Type: TABLE DATA; Schema: hqa_system; Owner: hq_portal
--

COPY hqa_system.sync_errors (id, sync_job_id, marketplace, source_sheet, source_row_number, external_listing_id, processing_stage, error_code, error_message, raw_row, created_at) FROM stdin;
\.


--
-- Data for Name: sync_jobs; Type: TABLE DATA; Schema: hqa_system; Owner: hq_portal
--



--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: hq_portal
--

COPY public.alembic_version (version_num) FROM stdin;
0001_initial
\.


--
-- Data for Name: listing_matches; Type: TABLE DATA; Schema: reverb; Owner: hq_portal
--

COPY reverb.listing_matches (id, listing_id, research_target_id, keyword, match_type, exclude_flag, raw_confidence, research_date, collected_at, created_at) FROM stdin;
\.


--
-- Data for Name: listing_snapshots; Type: TABLE DATA; Schema: reverb; Owner: hq_portal
--

COPY reverb.listing_snapshots (id, listing_id, observed_at, price, shipping_price, total_price, currency, quantity, listing_views, listing_status, status_reason, state_hash, raw_payload, created_at) FROM stdin;
\.


--
-- Data for Name: listings; Type: TABLE DATA; Schema: reverb; Owner: hq_portal
--

COPY reverb.listings (id, external_listing_id, listing_title, listing_url, published_at, listing_location, country_code, category_id, category_name, condition_id, condition_name, image_url, current_price, shipping_price, total_price, currency, listing_views, listing_status, first_seen_at, last_seen_at, state_hash, raw_payload, created_at, updated_at, shop_name) FROM stdin;
\.


--
-- Data for Name: search_runs; Type: TABLE DATA; Schema: reverb; Owner: hq_portal
--

COPY reverb.search_runs (id, research_target_id, keyword, research_date, collected_at, api_status, total_results, source_limit, source_offset, response_metadata, created_at) FROM stdin;
\.


--
-- Name: listing_matches pk_ebay_listing_matches; Type: CONSTRAINT; Schema: ebay; Owner: hq_portal
--

ALTER TABLE ONLY ebay.listing_matches
    ADD CONSTRAINT pk_ebay_listing_matches PRIMARY KEY (id);


--
-- Name: listing_snapshots pk_ebay_listing_snapshots; Type: CONSTRAINT; Schema: ebay; Owner: hq_portal
--

ALTER TABLE ONLY ebay.listing_snapshots
    ADD CONSTRAINT pk_ebay_listing_snapshots PRIMARY KEY (id);


--
-- Name: listings pk_ebay_listings; Type: CONSTRAINT; Schema: ebay; Owner: hq_portal
--

ALTER TABLE ONLY ebay.listings
    ADD CONSTRAINT pk_ebay_listings PRIMARY KEY (id);


--
-- Name: search_runs pk_ebay_search_runs; Type: CONSTRAINT; Schema: ebay; Owner: hq_portal
--

ALTER TABLE ONLY ebay.search_runs
    ADD CONSTRAINT pk_ebay_search_runs PRIMARY KEY (id);


--
-- Name: listing_matches uq_ebay_listing_matches_dedupe; Type: CONSTRAINT; Schema: ebay; Owner: hq_portal
--

ALTER TABLE ONLY ebay.listing_matches
    ADD CONSTRAINT uq_ebay_listing_matches_dedupe UNIQUE (listing_id, research_target_id, keyword, research_date);


--
-- Name: listings uq_ebay_listings_external_listing_id; Type: CONSTRAINT; Schema: ebay; Owner: hq_portal
--

ALTER TABLE ONLY ebay.listings
    ADD CONSTRAINT uq_ebay_listings_external_listing_id UNIQUE (external_listing_id);


--
-- Name: listing_matches pk_etsy_listing_matches; Type: CONSTRAINT; Schema: etsy; Owner: hq_portal
--

ALTER TABLE ONLY etsy.listing_matches
    ADD CONSTRAINT pk_etsy_listing_matches PRIMARY KEY (id);


--
-- Name: listing_snapshots pk_etsy_listing_snapshots; Type: CONSTRAINT; Schema: etsy; Owner: hq_portal
--

ALTER TABLE ONLY etsy.listing_snapshots
    ADD CONSTRAINT pk_etsy_listing_snapshots PRIMARY KEY (id);


--
-- Name: listings pk_etsy_listings; Type: CONSTRAINT; Schema: etsy; Owner: hq_portal
--

ALTER TABLE ONLY etsy.listings
    ADD CONSTRAINT pk_etsy_listings PRIMARY KEY (id);


--
-- Name: search_runs pk_etsy_search_runs; Type: CONSTRAINT; Schema: etsy; Owner: hq_portal
--

ALTER TABLE ONLY etsy.search_runs
    ADD CONSTRAINT pk_etsy_search_runs PRIMARY KEY (id);


--
-- Name: listing_matches uq_etsy_listing_matches_dedupe; Type: CONSTRAINT; Schema: etsy; Owner: hq_portal
--

ALTER TABLE ONLY etsy.listing_matches
    ADD CONSTRAINT uq_etsy_listing_matches_dedupe UNIQUE (listing_id, research_target_id, keyword, research_date);


--
-- Name: listings uq_etsy_listings_external_listing_id; Type: CONSTRAINT; Schema: etsy; Owner: hq_portal
--

ALTER TABLE ONLY etsy.listings
    ADD CONSTRAINT uq_etsy_listings_external_listing_id UNIQUE (external_listing_id);


--
-- Name: research_targets pk_research_targets; Type: CONSTRAINT; Schema: hqa_system; Owner: hq_portal
--

ALTER TABLE ONLY hqa_system.research_targets
    ADD CONSTRAINT pk_research_targets PRIMARY KEY (id);


--
-- Name: sync_errors pk_sync_errors; Type: CONSTRAINT; Schema: hqa_system; Owner: hq_portal
--

ALTER TABLE ONLY hqa_system.sync_errors
    ADD CONSTRAINT pk_sync_errors PRIMARY KEY (id);


--
-- Name: sync_jobs pk_sync_jobs; Type: CONSTRAINT; Schema: hqa_system; Owner: hq_portal
--

ALTER TABLE ONLY hqa_system.sync_jobs
    ADD CONSTRAINT pk_sync_jobs PRIMARY KEY (id);


--
-- Name: research_targets uq_research_targets_product_code; Type: CONSTRAINT; Schema: hqa_system; Owner: hq_portal
--

ALTER TABLE ONLY hqa_system.research_targets
    ADD CONSTRAINT uq_research_targets_product_code UNIQUE (product_code);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: hq_portal
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: listing_matches pk_reverb_listing_matches; Type: CONSTRAINT; Schema: reverb; Owner: hq_portal
--

ALTER TABLE ONLY reverb.listing_matches
    ADD CONSTRAINT pk_reverb_listing_matches PRIMARY KEY (id);


--
-- Name: listing_snapshots pk_reverb_listing_snapshots; Type: CONSTRAINT; Schema: reverb; Owner: hq_portal
--

ALTER TABLE ONLY reverb.listing_snapshots
    ADD CONSTRAINT pk_reverb_listing_snapshots PRIMARY KEY (id);


--
-- Name: listings pk_reverb_listings; Type: CONSTRAINT; Schema: reverb; Owner: hq_portal
--

ALTER TABLE ONLY reverb.listings
    ADD CONSTRAINT pk_reverb_listings PRIMARY KEY (id);


--
-- Name: search_runs pk_reverb_search_runs; Type: CONSTRAINT; Schema: reverb; Owner: hq_portal
--

ALTER TABLE ONLY reverb.search_runs
    ADD CONSTRAINT pk_reverb_search_runs PRIMARY KEY (id);


--
-- Name: listing_matches uq_reverb_listing_matches_dedupe; Type: CONSTRAINT; Schema: reverb; Owner: hq_portal
--

ALTER TABLE ONLY reverb.listing_matches
    ADD CONSTRAINT uq_reverb_listing_matches_dedupe UNIQUE (listing_id, research_target_id, keyword, research_date);


--
-- Name: listings uq_reverb_listings_external_listing_id; Type: CONSTRAINT; Schema: reverb; Owner: hq_portal
--

ALTER TABLE ONLY reverb.listings
    ADD CONSTRAINT uq_reverb_listings_external_listing_id UNIQUE (external_listing_id);


--
-- Name: ix_ebay_listing_matches_keyword; Type: INDEX; Schema: ebay; Owner: hq_portal
--

CREATE INDEX ix_ebay_listing_matches_keyword ON ebay.listing_matches USING btree (keyword);


--
-- Name: ix_ebay_listing_matches_listing_id; Type: INDEX; Schema: ebay; Owner: hq_portal
--

CREATE INDEX ix_ebay_listing_matches_listing_id ON ebay.listing_matches USING btree (listing_id);


--
-- Name: ix_ebay_listing_matches_research_target_id; Type: INDEX; Schema: ebay; Owner: hq_portal
--

CREATE INDEX ix_ebay_listing_matches_research_target_id ON ebay.listing_matches USING btree (research_target_id);


--
-- Name: ix_ebay_listing_snapshots_listing_id; Type: INDEX; Schema: ebay; Owner: hq_portal
--

CREATE INDEX ix_ebay_listing_snapshots_listing_id ON ebay.listing_snapshots USING btree (listing_id);


--
-- Name: ix_ebay_listing_snapshots_observed_at; Type: INDEX; Schema: ebay; Owner: hq_portal
--

CREATE INDEX ix_ebay_listing_snapshots_observed_at ON ebay.listing_snapshots USING btree (observed_at);


--
-- Name: ix_ebay_listings_current_price; Type: INDEX; Schema: ebay; Owner: hq_portal
--

CREATE INDEX ix_ebay_listings_current_price ON ebay.listings USING btree (current_price);


--
-- Name: ix_ebay_listings_external_listing_id; Type: INDEX; Schema: ebay; Owner: hq_portal
--

CREATE INDEX ix_ebay_listings_external_listing_id ON ebay.listings USING btree (external_listing_id);


--
-- Name: ix_ebay_listings_first_seen_at; Type: INDEX; Schema: ebay; Owner: hq_portal
--

CREATE INDEX ix_ebay_listings_first_seen_at ON ebay.listings USING btree (first_seen_at);


--
-- Name: ix_ebay_listings_last_seen_at; Type: INDEX; Schema: ebay; Owner: hq_portal
--

CREATE INDEX ix_ebay_listings_last_seen_at ON ebay.listings USING btree (last_seen_at);


--
-- Name: ix_ebay_listings_listing_status; Type: INDEX; Schema: ebay; Owner: hq_portal
--

CREATE INDEX ix_ebay_listings_listing_status ON ebay.listings USING btree (listing_status);


--
-- Name: ix_ebay_listings_listing_title; Type: INDEX; Schema: ebay; Owner: hq_portal
--

CREATE INDEX ix_ebay_listings_listing_title ON ebay.listings USING btree (listing_title);


--
-- Name: ix_ebay_listings_published_at; Type: INDEX; Schema: ebay; Owner: hq_portal
--

CREATE INDEX ix_ebay_listings_published_at ON ebay.listings USING btree (published_at);


--
-- Name: ix_ebay_listings_seller_name; Type: INDEX; Schema: ebay; Owner: hq_portal
--

CREATE INDEX ix_ebay_listings_seller_name ON ebay.listings USING btree (seller_name);


--
-- Name: ix_ebay_listings_title_trgm; Type: INDEX; Schema: ebay; Owner: hq_portal
--

CREATE INDEX ix_ebay_listings_title_trgm ON ebay.listings USING gin (listing_title public.gin_trgm_ops);


--
-- Name: ix_ebay_search_runs_keyword; Type: INDEX; Schema: ebay; Owner: hq_portal
--

CREATE INDEX ix_ebay_search_runs_keyword ON ebay.search_runs USING btree (keyword);


--
-- Name: ix_ebay_search_runs_research_date; Type: INDEX; Schema: ebay; Owner: hq_portal
--

CREATE INDEX ix_ebay_search_runs_research_date ON ebay.search_runs USING btree (research_date);


--
-- Name: ix_ebay_search_runs_research_target_id; Type: INDEX; Schema: ebay; Owner: hq_portal
--

CREATE INDEX ix_ebay_search_runs_research_target_id ON ebay.search_runs USING btree (research_target_id);


--
-- Name: ix_etsy_listing_matches_keyword; Type: INDEX; Schema: etsy; Owner: hq_portal
--

CREATE INDEX ix_etsy_listing_matches_keyword ON etsy.listing_matches USING btree (keyword);


--
-- Name: ix_etsy_listing_matches_listing_id; Type: INDEX; Schema: etsy; Owner: hq_portal
--

CREATE INDEX ix_etsy_listing_matches_listing_id ON etsy.listing_matches USING btree (listing_id);


--
-- Name: ix_etsy_listing_matches_research_target_id; Type: INDEX; Schema: etsy; Owner: hq_portal
--

CREATE INDEX ix_etsy_listing_matches_research_target_id ON etsy.listing_matches USING btree (research_target_id);


--
-- Name: ix_etsy_listing_snapshots_listing_id; Type: INDEX; Schema: etsy; Owner: hq_portal
--

CREATE INDEX ix_etsy_listing_snapshots_listing_id ON etsy.listing_snapshots USING btree (listing_id);


--
-- Name: ix_etsy_listing_snapshots_observed_at; Type: INDEX; Schema: etsy; Owner: hq_portal
--

CREATE INDEX ix_etsy_listing_snapshots_observed_at ON etsy.listing_snapshots USING btree (observed_at);


--
-- Name: ix_etsy_listings_current_price; Type: INDEX; Schema: etsy; Owner: hq_portal
--

CREATE INDEX ix_etsy_listings_current_price ON etsy.listings USING btree (current_price);


--
-- Name: ix_etsy_listings_external_listing_id; Type: INDEX; Schema: etsy; Owner: hq_portal
--

CREATE INDEX ix_etsy_listings_external_listing_id ON etsy.listings USING btree (external_listing_id);


--
-- Name: ix_etsy_listings_first_seen_at; Type: INDEX; Schema: etsy; Owner: hq_portal
--

CREATE INDEX ix_etsy_listings_first_seen_at ON etsy.listings USING btree (first_seen_at);


--
-- Name: ix_etsy_listings_last_seen_at; Type: INDEX; Schema: etsy; Owner: hq_portal
--

CREATE INDEX ix_etsy_listings_last_seen_at ON etsy.listings USING btree (last_seen_at);


--
-- Name: ix_etsy_listings_listing_status; Type: INDEX; Schema: etsy; Owner: hq_portal
--

CREATE INDEX ix_etsy_listings_listing_status ON etsy.listings USING btree (listing_status);


--
-- Name: ix_etsy_listings_listing_title; Type: INDEX; Schema: etsy; Owner: hq_portal
--

CREATE INDEX ix_etsy_listings_listing_title ON etsy.listings USING btree (listing_title);


--
-- Name: ix_etsy_listings_published_at; Type: INDEX; Schema: etsy; Owner: hq_portal
--

CREATE INDEX ix_etsy_listings_published_at ON etsy.listings USING btree (published_at);


--
-- Name: ix_etsy_listings_shop_name; Type: INDEX; Schema: etsy; Owner: hq_portal
--

CREATE INDEX ix_etsy_listings_shop_name ON etsy.listings USING btree (shop_name);


--
-- Name: ix_etsy_listings_title_trgm; Type: INDEX; Schema: etsy; Owner: hq_portal
--

CREATE INDEX ix_etsy_listings_title_trgm ON etsy.listings USING gin (listing_title public.gin_trgm_ops);


--
-- Name: ix_etsy_search_runs_keyword; Type: INDEX; Schema: etsy; Owner: hq_portal
--

CREATE INDEX ix_etsy_search_runs_keyword ON etsy.search_runs USING btree (keyword);


--
-- Name: ix_etsy_search_runs_research_date; Type: INDEX; Schema: etsy; Owner: hq_portal
--

CREATE INDEX ix_etsy_search_runs_research_date ON etsy.search_runs USING btree (research_date);


--
-- Name: ix_etsy_search_runs_research_target_id; Type: INDEX; Schema: etsy; Owner: hq_portal
--

CREATE INDEX ix_etsy_search_runs_research_target_id ON etsy.search_runs USING btree (research_target_id);


--
-- Name: ix_research_targets_product_code; Type: INDEX; Schema: hqa_system; Owner: hq_portal
--

CREATE INDEX ix_research_targets_product_code ON hqa_system.research_targets USING btree (product_code);


--
-- Name: ix_sync_errors_marketplace; Type: INDEX; Schema: hqa_system; Owner: hq_portal
--

CREATE INDEX ix_sync_errors_marketplace ON hqa_system.sync_errors USING btree (marketplace);


--
-- Name: ix_sync_errors_sync_job_id; Type: INDEX; Schema: hqa_system; Owner: hq_portal
--

CREATE INDEX ix_sync_errors_sync_job_id ON hqa_system.sync_errors USING btree (sync_job_id);


--
-- Name: ix_sync_jobs_marketplace; Type: INDEX; Schema: hqa_system; Owner: hq_portal
--

CREATE INDEX ix_sync_jobs_marketplace ON hqa_system.sync_jobs USING btree (marketplace);


--
-- Name: ix_sync_jobs_requested_by_user_id; Type: INDEX; Schema: hqa_system; Owner: hq_portal
--

CREATE INDEX ix_sync_jobs_requested_by_user_id ON hqa_system.sync_jobs USING btree (requested_by_user_id);


--
-- Name: ix_sync_jobs_status; Type: INDEX; Schema: hqa_system; Owner: hq_portal
--

CREATE INDEX ix_sync_jobs_status ON hqa_system.sync_jobs USING btree (status);


--
-- Name: ix_sync_jobs_trigger_type; Type: INDEX; Schema: hqa_system; Owner: hq_portal
--

CREATE INDEX ix_sync_jobs_trigger_type ON hqa_system.sync_jobs USING btree (trigger_type);


--
-- Name: ix_reverb_listing_matches_keyword; Type: INDEX; Schema: reverb; Owner: hq_portal
--

CREATE INDEX ix_reverb_listing_matches_keyword ON reverb.listing_matches USING btree (keyword);


--
-- Name: ix_reverb_listing_matches_listing_id; Type: INDEX; Schema: reverb; Owner: hq_portal
--

CREATE INDEX ix_reverb_listing_matches_listing_id ON reverb.listing_matches USING btree (listing_id);


--
-- Name: ix_reverb_listing_matches_research_target_id; Type: INDEX; Schema: reverb; Owner: hq_portal
--

CREATE INDEX ix_reverb_listing_matches_research_target_id ON reverb.listing_matches USING btree (research_target_id);


--
-- Name: ix_reverb_listing_snapshots_listing_id; Type: INDEX; Schema: reverb; Owner: hq_portal
--

CREATE INDEX ix_reverb_listing_snapshots_listing_id ON reverb.listing_snapshots USING btree (listing_id);


--
-- Name: ix_reverb_listing_snapshots_observed_at; Type: INDEX; Schema: reverb; Owner: hq_portal
--

CREATE INDEX ix_reverb_listing_snapshots_observed_at ON reverb.listing_snapshots USING btree (observed_at);


--
-- Name: ix_reverb_listings_current_price; Type: INDEX; Schema: reverb; Owner: hq_portal
--

CREATE INDEX ix_reverb_listings_current_price ON reverb.listings USING btree (current_price);


--
-- Name: ix_reverb_listings_external_listing_id; Type: INDEX; Schema: reverb; Owner: hq_portal
--

CREATE INDEX ix_reverb_listings_external_listing_id ON reverb.listings USING btree (external_listing_id);


--
-- Name: ix_reverb_listings_first_seen_at; Type: INDEX; Schema: reverb; Owner: hq_portal
--

CREATE INDEX ix_reverb_listings_first_seen_at ON reverb.listings USING btree (first_seen_at);


--
-- Name: ix_reverb_listings_last_seen_at; Type: INDEX; Schema: reverb; Owner: hq_portal
--

CREATE INDEX ix_reverb_listings_last_seen_at ON reverb.listings USING btree (last_seen_at);


--
-- Name: ix_reverb_listings_listing_status; Type: INDEX; Schema: reverb; Owner: hq_portal
--

CREATE INDEX ix_reverb_listings_listing_status ON reverb.listings USING btree (listing_status);


--
-- Name: ix_reverb_listings_listing_title; Type: INDEX; Schema: reverb; Owner: hq_portal
--

CREATE INDEX ix_reverb_listings_listing_title ON reverb.listings USING btree (listing_title);


--
-- Name: ix_reverb_listings_published_at; Type: INDEX; Schema: reverb; Owner: hq_portal
--

CREATE INDEX ix_reverb_listings_published_at ON reverb.listings USING btree (published_at);


--
-- Name: ix_reverb_listings_shop_name; Type: INDEX; Schema: reverb; Owner: hq_portal
--

CREATE INDEX ix_reverb_listings_shop_name ON reverb.listings USING btree (shop_name);


--
-- Name: ix_reverb_listings_title_trgm; Type: INDEX; Schema: reverb; Owner: hq_portal
--

CREATE INDEX ix_reverb_listings_title_trgm ON reverb.listings USING gin (listing_title public.gin_trgm_ops);


--
-- Name: ix_reverb_search_runs_keyword; Type: INDEX; Schema: reverb; Owner: hq_portal
--

CREATE INDEX ix_reverb_search_runs_keyword ON reverb.search_runs USING btree (keyword);


--
-- Name: ix_reverb_search_runs_research_date; Type: INDEX; Schema: reverb; Owner: hq_portal
--

CREATE INDEX ix_reverb_search_runs_research_date ON reverb.search_runs USING btree (research_date);


--
-- Name: ix_reverb_search_runs_research_target_id; Type: INDEX; Schema: reverb; Owner: hq_portal
--

CREATE INDEX ix_reverb_search_runs_research_target_id ON reverb.search_runs USING btree (research_target_id);


--
-- Name: listing_snapshots fk_ebay_listing_snapshots_listing_id; Type: FK CONSTRAINT; Schema: ebay; Owner: hq_portal
--

ALTER TABLE ONLY ebay.listing_snapshots
    ADD CONSTRAINT fk_ebay_listing_snapshots_listing_id FOREIGN KEY (listing_id) REFERENCES ebay.listings(id) ON DELETE CASCADE;


--
-- Name: listing_matches listing_matches_research_target_id_fkey; Type: FK CONSTRAINT; Schema: ebay; Owner: hq_portal
--

ALTER TABLE ONLY ebay.listing_matches
    ADD CONSTRAINT listing_matches_research_target_id_fkey FOREIGN KEY (research_target_id) REFERENCES hqa_system.research_targets(id) ON DELETE CASCADE;


--
-- Name: search_runs search_runs_research_target_id_fkey; Type: FK CONSTRAINT; Schema: ebay; Owner: hq_portal
--

ALTER TABLE ONLY ebay.search_runs
    ADD CONSTRAINT search_runs_research_target_id_fkey FOREIGN KEY (research_target_id) REFERENCES hqa_system.research_targets(id) ON DELETE SET NULL;


--
-- Name: listing_snapshots fk_etsy_listing_snapshots_listing_id; Type: FK CONSTRAINT; Schema: etsy; Owner: hq_portal
--

ALTER TABLE ONLY etsy.listing_snapshots
    ADD CONSTRAINT fk_etsy_listing_snapshots_listing_id FOREIGN KEY (listing_id) REFERENCES etsy.listings(id) ON DELETE CASCADE;


--
-- Name: listing_matches listing_matches_research_target_id_fkey; Type: FK CONSTRAINT; Schema: etsy; Owner: hq_portal
--

ALTER TABLE ONLY etsy.listing_matches
    ADD CONSTRAINT listing_matches_research_target_id_fkey FOREIGN KEY (research_target_id) REFERENCES hqa_system.research_targets(id) ON DELETE CASCADE;


--
-- Name: search_runs search_runs_research_target_id_fkey; Type: FK CONSTRAINT; Schema: etsy; Owner: hq_portal
--

ALTER TABLE ONLY etsy.search_runs
    ADD CONSTRAINT search_runs_research_target_id_fkey FOREIGN KEY (research_target_id) REFERENCES hqa_system.research_targets(id) ON DELETE SET NULL;


--
-- Name: sync_errors sync_errors_sync_job_id_fkey; Type: FK CONSTRAINT; Schema: hqa_system; Owner: hq_portal
--

ALTER TABLE ONLY hqa_system.sync_errors
    ADD CONSTRAINT sync_errors_sync_job_id_fkey FOREIGN KEY (sync_job_id) REFERENCES hqa_system.sync_jobs(id) ON DELETE CASCADE;


--
-- Name: listing_snapshots fk_reverb_listing_snapshots_listing_id; Type: FK CONSTRAINT; Schema: reverb; Owner: hq_portal
--

ALTER TABLE ONLY reverb.listing_snapshots
    ADD CONSTRAINT fk_reverb_listing_snapshots_listing_id FOREIGN KEY (listing_id) REFERENCES reverb.listings(id) ON DELETE CASCADE;


--
-- Name: listing_matches listing_matches_research_target_id_fkey; Type: FK CONSTRAINT; Schema: reverb; Owner: hq_portal
--

ALTER TABLE ONLY reverb.listing_matches
    ADD CONSTRAINT listing_matches_research_target_id_fkey FOREIGN KEY (research_target_id) REFERENCES hqa_system.research_targets(id) ON DELETE CASCADE;


--
-- Name: search_runs search_runs_research_target_id_fkey; Type: FK CONSTRAINT; Schema: reverb; Owner: hq_portal
--

ALTER TABLE ONLY reverb.search_runs
    ADD CONSTRAINT search_runs_research_target_id_fkey FOREIGN KEY (research_target_id) REFERENCES hqa_system.research_targets(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict 676Xo0c4TNAxLxFoGPHvh4B8Wy5Nk6lfLgWjWL0DeXlcheY1vtavQlQ41aIgCen

--
-- Database "hqs_db" dump
--

--
-- PostgreSQL database dump
--

\restrict cx94b4a9OnardyX72OzvW9rBwUgNBwgqfgpd3aAK5GhOCuQ9xPYgLh1tbEOG6jw

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: hqs_db; Type: DATABASE; Schema: -; Owner: hq_portal
--

CREATE DATABASE hqs_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE hqs_db OWNER TO hq_portal;

\unrestrict cx94b4a9OnardyX72OzvW9rBwUgNBwgqfgpd3aAK5GhOCuQ9xPYgLh1tbEOG6jw
\connect hqs_db
\restrict cx94b4a9OnardyX72OzvW9rBwUgNBwgqfgpd3aAK5GhOCuQ9xPYgLh1tbEOG6jw

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict cx94b4a9OnardyX72OzvW9rBwUgNBwgqfgpd3aAK5GhOCuQ9xPYgLh1tbEOG6jw

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict VKU26JcRLf53ykf2IaYnX8Rwu8EQ19yEJRNea8Sz8jnWP6SJws0PeFalfed7QLK

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict VKU26JcRLf53ykf2IaYnX8Rwu8EQ19yEJRNea8Sz8jnWP6SJws0PeFalfed7QLK

--
-- PostgreSQL database cluster dump complete
--

